# Django Settings
SECRET_KEY=your-secret-key-here (generate with: python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())')
DEBUG=True

# Fernet açarı ilə şifrələmə üçün istifadə olunur. Aşağıdakı skriptlə generasiya et:
# python utils/generate_fernet_key.py
FERNET_SECRET_KEY= REPLACE_WITH_YOUR_GENERATED_KEY